n8n_data/StdTask1to2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        272
      ],
      "id": "c1d97a4d-7277-409e-a58f-0010b7c51bae",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nif (!data.amrs) {\n  data.amrs = {'amrs':[\n    '192.168.25.79',\n    '192.168.25.235',\n  ]}\n}\n\nreturn [{ json: data.amrs }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -208
      ],
      "id": "bea3559a-b7dd-46f7-96c2-884a867e35db",
      "name": "SetAMR IPs"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        -208
      ],
      "id": "47046378-9f67-4a9c-b293-75c699181dea",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "batchSize": "={{ $json.amrs }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -208
      ],
      "id": "5df4aaa6-2d55-431e-a551-18137d6f1da5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        352,
        -96
      ],
      "id": "ab657f87-5d3e-42f1-858e-5230c8756423"
    },
    {
      "parameters": {
        "url": "=http://192.168.25.235:8080/status/robot/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        32
      ],
      "id": "c276bd21-ef62-4d4c-88ad-a6de4a44f2ab",
      "name": "RobotStatus1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SetAMR IPs",
            "type": "main",
            "index": 0
          },
          {
            "node": "RobotStatus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetAMR IPs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1a0ceb10-cded-4e2c-a72e-51cc8531f1ab",
  "meta": {
    "instanceId": "589e87d58ae9be0de0c23f8d6f7dff8dc4a2b2469de380cdf0252395d324f976"
  },
  "id": "au-nW8tJlIvp_LrvPYrk9",
  "tags": []
}