samples/std1_2_4/collab_001.json
{
  "name": "Collab Workflow Sample",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        496
      ],
      "id": "21403a20-d15b-4595-a1c1-ddcd2a46742c",
      "name": "Manual Trigger Input Form"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  \"task_name\": \"n8n_sample_std_task_01\",\n  \"ratio_speed\": 1,\n  \"bias_accuracy_xy\": 0,\n  \"bias_accuracy_deg\": 0,\n  \"execute_count\": 1\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        496
      ],
      "id": "7684727f-4b13-470f-8e78-de164d8aefe3",
      "name": "単体Task01"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"group_name\": \"collab999\",\n  \"master\": \"192.168.25.79\",\n  \"robots\": [\n    {\n      \"ip\": \"192.168.25.79\",\n      \"dx\": 0,\n      \"dy\": 1,\n      \"dw\": 0\n    },\n    {\n      \"ip\": \"192.168.25.76\",\n      \"dx\": 0,\n      \"dy\": -1,\n      \"dw\": 180\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        496
      ],
      "id": "f5f74712-f404-4503-ae80-fbe76f55a067",
      "name": "ロボット情報（協調含む）"
    },
    {
      "parameters": {
        "fieldToSplitOut": "robots",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        496
      ],
      "id": "83555306-a81b-49e1-857f-07595087943c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WFdHK5rx2fKF3HMO",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ip": "={{ $json.ip }}"
          },
          "matchingColumns": [
            "ip"
          ],
          "schema": [
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -96,
        496
      ],
      "name": "Call ロボット存在確認＆協調解除",
      "id": "db2ae39b-7169-4eca-8371-cefdecf44fb9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CICVepjbqR4oOiow",
          "mode": "list",
          "cachedResultUrl": "/workflow/CICVepjbqR4oOiow",
          "cachedResultName": "タスク実行（完了同期待ち）"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bias_accuracy_deg": "={{ $json.bias_accuracy_deg }}",
            "bias_accuracy_xy": "={{ $json.bias_accuracy_xy }}",
            "execute_count": "={{ $json.execute_count }}",
            "ratio_speed": "={{ $json.ratio_speed }}",
            "task_name": "={{ $json.task_name }}",
            "Robots": "={{ $('Split Out').item.json.ip }}"
          },
          "matchingColumns": [
            "Robots",
            "bias_accuracy_deg",
            "bias_accuracy_xy",
            "execute_count",
            "ratio_speed",
            "task_name"
          ],
          "schema": [
            {
              "id": "Robots",
              "displayName": "Robots",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bias_accuracy_deg",
              "displayName": "bias_accuracy_deg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bias_accuracy_xy",
              "displayName": "bias_accuracy_xy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execute_count",
              "displayName": "execute_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ratio_speed",
              "displayName": "ratio_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        256,
        496
      ],
      "name": "タスク実行（完了同期待ち）",
      "id": "c58da349-cd7b-4734-b51c-20bf4319f419"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('ロボット情報（協調含む）').item.json.master }}:8080/collab/group_create_and_bind",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('ロボット情報（協調含む）').item.json.toJsonString() }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        496
      ],
      "id": "78a9c24c-442c-4806-9bb0-4163741c0bb2",
      "name": "協調Create&Bind"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  \"task_name\": \"n8n_sample_collab_task_01\",\n  \"ratio_speed\": 1,\n  \"bias_accuracy_xy\": 0,\n  \"bias_accuracy_deg\": 0,\n  \"execute_count\": 1\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        496
      ],
      "id": "879894a5-46cd-422a-94e7-73d0be9f4532",
      "name": "協調Task01"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        496
      ],
      "id": "0d482bc6-107f-4687-beab-43aaebea9e4e",
      "name": "Done1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dYdd2Si4DD8whaMf",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "master": "={{ $('ロボット情報（協調含む）').item.json.master }}",
            "bias_accuracy_deg": "={{ $json.bias_accuracy_deg }}",
            "bias_accuracy_xy": "={{ $json.bias_accuracy_xy }}",
            "execute_count": "={{ $json.execute_count }}",
            "ratio_speed": "={{ $json.ratio_speed }}",
            "task_name": "={{ $json.task_name }}"
          },
          "matchingColumns": [
            "master",
            "bias_accuracy_deg",
            "bias_accuracy_xy",
            "execute_count",
            "ratio_speed",
            "task_name"
          ],
          "schema": [
            {
              "id": "master",
              "displayName": "master",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bias_accuracy_deg",
              "displayName": "bias_accuracy_deg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bias_accuracy_xy",
              "displayName": "bias_accuracy_xy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execute_count",
              "displayName": "execute_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ratio_speed",
              "displayName": "ratio_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        496
      ],
      "name": "協調タスク実行",
      "id": "8c42e11c-7a72-405b-a0d2-620041adf60d"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger Input Form": {
      "main": [
        [
          {
            "node": "ロボット情報（協調含む）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "単体Task01": {
      "main": [
        [
          {
            "node": "タスク実行（完了同期待ち）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ロボット情報（協調含む）": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call ロボット存在確認＆協調解除",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ロボット存在確認＆協調解除": {
      "main": [
        [
          {
            "node": "単体Task01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "タスク実行（完了同期待ち）": {
      "main": [
        [
          {
            "node": "協調Create&Bind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "協調Create&Bind": {
      "main": [
        [
          {
            "node": "協調Task01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "協調Task01": {
      "main": [
        [
          {
            "node": "協調タスク実行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "協調タスク実行": {
      "main": [
        [
          {
            "node": "Done1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d940b8d7-45cd-42ab-83c3-fbc1262428c3",
  "meta": {
    "instanceId": "5e5e8c4e18a7e7ddef7816e91f7e4b1181d780c5c6c079149d64d7aa6a5464e5"
  },
  "id": "Th9c6102ng2Z843arF0Pd",
  "tags": []
}